@model Blog.ViewModel.PostViewModel

@using PagedList.Mvc;

@{
    ViewBag.Title = "Details";
    bool isAdmin = ViewBag.IsAdmin ?? false;
}

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Custom_Scripts/comment-scripts.js"></script>

<div id="postDetails">
    @PostHelper.Render(Model, Html, Url ,isAdmin, true)
</div>

<div>
    @Html.PagedListPager(Model.Comments, page => Href("~/Posts/Details/" + Model.Post.Id + "?page=" + page + "#comments")
    , new PagedListRenderOptions
    {
        LinkToNextPageFormat = "More Comments"
    })
</div>
