@using PagedList.Mvc

@model PagedList.IPagedList<Blog.Models.Post>

@{
    ViewBag.Title = "Index";
    bool isAdmin = ViewBag.IsAdmin ?? false;
}

@foreach (var post in Model)
{
   @PostHelper.Render(post, Html, isAdmin, false)
}

<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, tagName = Request["tagName"] }))
</div>